<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="socket.io/socket.io.js"></script>
    <script src="/scripts/index.js" defer type="module"></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="/assets/iconCel.ico" type="image/x-icon" />
    <title>Gestor de Productos</title>
  </head>

  <body>
    {{>footer}}
    <main>
        {{{body}}}

    </main>
  </body>

  <footer>
    {{>footer}}
  </footer>

</html>