<section class="section-form">
    <form action="/api/productos" , method="post">
        <fieldset>
            <legend>Ingrese Producto</legend>
            <div class="controles">
                <input type="text" name="title" placeholder="Titulo" required>
                <input type="number" name="price" placeholder="Precio" required>
                <label for="url">Url Foto:</label>
                <select name="thumbnail" id="url">
                    <option value="\assets\img\equipos\K41s.png">LG-K41S</option>
                    <option value="\assets\img\equipos\S21.png">Samsung-S21</option>
                    <option value="\assets\img\equipos\Zflip3G.png">Samsung-ZFlip</option>
                    <option value="\assets\img\equipos\S21Ultra.png">Samsung-S21-Ultra</option>
                    <option value="\assets\img\equipos\K51s.png">LG-K51</option>
                    <option value="\assets\img\equipos\E7.png">Motorola-E7</option>
                </select>
                <input id="send"  type="button" value="Cargar">

            </div>
        </fieldset>
    </form>

</section>



<section class="section-productos" id="section-productos">



</section>